.about_us_all_content_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 30px;
}
.about_us_container{
    width: 100%;    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
}

.title_about_us{
    font-size: 1.8rem;
}
.text_about_us{
    font-size: 1.1rem;
    color: #555;
    width: 40rem;
}


.kok{  
    border-radius: 8px;
    box-shadow: 18px 18px 0 0 var(--second-color), 18px 18px 0 ;
}



@media screen and (max-width: 768px) {
    .about_us_container{
        width: 90%;
        flex-wrap: nowrap;
        justify-content: center;
        flex-direction: column;
    }
    .title_about_us{
        font-size: 1.8rem;
    }
    .text_about_us{
        font-size: 1.1rem;
        color: #555;
        width: 95%;
    }

    .kok{
        margin-top: 10px;
    }
}