    .hero {
        padding: 120px;
    }

    .hero h1 {
        font-size: 36px;
        color: var(--second-color);
    }

    .hero p {
        font-size: 24px;
        color: rgb(9, 8, 8);
    }

    button{
        margin-top: 20px;
        padding: 10px 20px;
        font-size: 20px;
        background-color: var(--second-color);
        color: var(--main-color);
        border: none;
        border-radius: 12px;
        cursor: pointer;
    }