/* components/Navbar.css */
.nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Adjust the z-index as needed */
  background-color: white; /* Adjust the background color as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for better visibility */
}

/* Add padding to the body to prevent content from being hidden behind the fixed navbar */
body {
  padding-top: 160px; /* Adjust the padding-top based on the height of your navbar */
}


.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 0 20px;
    color: var(--second-color); /* Adjust the text color as needed */
    font-family: var(--nav-font);
  }
  
  .info-bar {
    background-color: var(--second-color);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    color: white;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .logo-link {
    text-decoration: none;
    color: inherit;
  }
  
  .logo {
    width: 110px; /* Adjust the logo width as needed */
    height: auto;
    padding: 0px 100px;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }

  .nav-button{
    font-size: 18px;
    margin-right: 100px;
    text-decoration: none;
    color: var(--second-color); /* Adjust the text color as needed */
    font-weight: bold;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    letter-spacing: 5px;
    font-size: 28px;
  }

  .nav-button:hover{
    color: var(--second-hover);
  }
  .nav-button.active{
    color: var(--second-hover);
  }

/* Remove the focus border for both input and select */
.search-field:focus,
select:focus {
  outline: none;
}

::placeholder{
  color: var(--second-color);
}
  
  

  @media (max-width: 430px){
    /* components/Navbar.css */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 20px 0 20px;
  color: #fff; /* Adjust the text color as needed */
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo-link {
  text-decoration: none;
  color: inherit;
}

.logo {
  width: 120px; /* Adjust the logo width as needed */
  height: auto;
  margin-left: 120px;
}

.navbar-right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.nav-button {
  font-size: 10px;
  margin: 0 10px 15px 25px;
  text-decoration: none;
  color: var(--second-color); /* Adjust the text color as needed */
}
  }