/* components/Navbar.css */
.nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Adjust the z-index as needed */
  background-color: white; /* Adjust the background color as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for better visibility */
}

/* Add padding to the body to prevent content from being hidden behind the fixed navbar */
body {
  padding-top: 139px; /* Adjust the padding-top based on the height of your navbar */
}


.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 0 20px;
    color: var(--second-color); /* Adjust the text color as needed */
    font-family: var(--nav-font);
  }
  
  .info-bar {
    background-color: var(--second-color);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    color: white;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .logo-link {
    text-decoration: none;
    color: inherit;
  }
  
  .logo {
    width: 110px; /* Adjust the logo width as needed */
    height: auto;
    padding: 0px 100px;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }

  .nav-button{
    font-size: 18px;
    margin-right: 100px;
    text-decoration: none;
    color: var(--second-color); /* Adjust the text color as needed */
    font-weight: bold;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    letter-spacing: 5px;
    font-size: 28px;
  }

  .nav-button:hover{
    color: var(--second-hover);
  }
  .nav-button.active{
    color: var(--second-hover);
  }

/* Remove the focus border for both input and select */
.search-field:focus,
select:focus {
  outline: none;
}

::placeholder{
  color: var(--second-color);
}

@media (max-width: 1280px){
  .nav-button{
    font-size: 20px;
  }
}
  
  
@media (max-width: 768px) {
  .navbar-right {
    display: none;
  }

  .navbar-right-mobile {
    display: flex;
    align-items: center;
  }

  .info-bar {
    font-size: 12px;
  }

  .mobile-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-origin: top;
    animation: slideDown 0.5s ease forwards;
    max-height: 0;
    overflow: hidden;
  }

  @keyframes slideDown {
    from {
      max-height: 0;
    }
    to {
      max-height: 200px; /* Adjust as needed */
    }
  }

  .nav-button {
    font-size: 16px;
    margin: 10px;
  }
}

@media (max-width: 430px) {
  .logo {
    width: 90px;
    padding: 0 10px;
  }

  .nav-button {
    font-size: 14px;
    margin-right: 0;
  }
}
